<!-- login.component.html -->
<div class="container vh-100 d-flex justify-content-center align-items-center text-white" style="background-color: transparent;">
    <div class="card p-3 bg-secondary">
      <div class="text-center mb-4">
        <img src="file.png" alt="Logo" class="img-fluid" style="max-width: 250px;">
      </div>
      <h2 class="text-center mb-4">Bienvenido a PvtoTV</h2>
      <div class="d-flex justify-content-between mt-4">
        <button type="button" [routerLink]="['/IniciarSesion']" class="btn btn-primary">Iniciar Sesión</button>
        <button type="button"  [routerLink]="['/Registrarse']" class="btn btn-secondary">Registrarse</button>
      </div>
    </div>
  </div>
  
